<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Description" content="Metadata Viewer and Validator Prototype" />
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Object.assign"></script>
    <!-- <script src="../static/js/app/react/node_modules/ol3-cesium/dist/Cesium.js" type="text/javascript" charset="utf-8"></script> -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/app.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/node_modules/boundless-sdk/dist/css/components.css">

    
    <title>{{ SITE_NAME }}</title>
</head>
<body>
    <div id="main">
        
    </div>

    <script src="http://localhost:3000/loader.js"></script>
    <script src="http://localhost:3000/build/app-debug.js"></script>
    <script type="text/javascript">
        // CSRF = '{% csrf_token %}';
    </script>
</body>
</html>